* {
    box-sizing: border-box;
}

body {
    background-color: #FFF;
}

#page-wrapper {
    width: 80%;
    margin: 15% auto;
    position: relative;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Raleway', serif;
    font-size: 30px;
    color: #484c61;
    word-spacing: -0.15em;
    font-weight: 300;
}

h1 span {
    font-weight: 900;
}

#form {
    margin: 0 auto 50px;
    width: 440px;
}

input {
    width: 350px;
    margin: 0 auto;
}

#search:focus {
    outline: none;
}

.fa-search {
    color: #484c61;
}

p {
    text-align: center;
}

.item-link {
    text-decoration: none;
}

.item {
    background-color: #FFFAFA;
    width: 100%;
    padding: 5px 20px 5px 20px;
    margin-bottom: 10px;
    color: #484c61;
    border: 1px solid #484c61;
}

#entries h3 {
    font-family: 'Raleway', serif;
    font-weight: bold;

}
#entries p {
    text-align: left;
    font-family: 'Raleway', serif;
}

.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}



